<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>
    Parece que você ainda não validou o e-mail utilizado na sua conta da Triunfo Digital,
    para prosseguir com a validação de e-mail, click no link abaixo.
  </p>
  <p>
    <a href="{{link}}" target="_blank">Click aqui para validar o seu E-mail</a>
  </p>
  <p>Se já validou seu e-mail, então descarte esta mensagem!</p>
  <p>
    Obrigado!<br />
    <strong>Equipe Triunfo Digital</strong>
  </p>
</div>